body{ 
    background-color: white;
}
.calculadora-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: aqua;
    padding: 10;
    border-radius: 10;
    width: 300;
    box-shadow: 0 0 20px;
}
.pantalla{
    grid-template-columns: 1fr;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.boton{
    background-color: aquamarine;
    color: blue;
    border: 1px;
}
.boton.operador{
    background-color: blueviolet;
}
.boton.clear-button{
    background-color: chocolate;
}
.boton.operador-igual{
    
}